:root {
  --accent: #ff3cac;
  --grey: #111;
}
::-moz-selection {
  color: var(--accent);
  background: var(--grey);
}
::selection {
  color: var(--accent);
  background: var(--grey);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--grey);
}
* {
  font-family: "Roboto", sans-serif;
}
#intro {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
}
#popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 30dvmin;
  font-weight: 900;
  color: var(--accent);
  background: var(--grey);
  text-align: center;
  line-height: 100dvh;
  clip-path: inset(0 0 0 0);
  transition: clip-path .2s;
}
#popup.hidden {
  clip-path: inset(0 100% 0 0);
}
body{
  background: var(--accent);
}
#convo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--accent);
  text-align: center;
}
#ccenter {
  display: inline-block;
  width: min(800px, 100dvw);
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
}
.mspeech {
  font-size: 30px;
  font-weight: 900;
  color: var(--grey);
  margin: 12px;
  margin-top: 25px;
  transition: transform .4s;
}
.mspeech.offscreen{
  transform: translateX(-100dvw);
}
.bubble {
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  color: var(--grey);
  margin: 12px;
  padding: 5px 25px;
  border: 5px solid var(--grey);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: transform .4s;
}
.bubble.clicked {
  background: var(--grey);
  color: var(--accent);
  transform: scale(1.2);
  z-index: 2;
}
.bubble.hide {
  transform: translateY(-300px) !important;
  z-index: 1;
}
.bubble:after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -12px;
  left: 25px;
  transform: rotate(45deg);
  height: 12px;
  width: 12px;
  background: var(--accent);
  border-right: 5px solid var(--grey);
  border-bottom: 5px solid var(--grey);
}
.bubble.clicked:after {
  background: var(--grey);
}
#repliesclip {
  text-wrap: wrap;
  overflow: hidden;
  padding-bottom: 40px;
}
#replies {
  transition: transform .2s;
}
#replies.hide {
  transform: translateY(-300px);
}
